.GetFurniture {
    display: inline-block;
}

.GetFurniture .Search {
    display: flex;
    gap: 20px;
    margin:auto;
    margin-left: 30%;

}

.GetFurniture button {
    background-color: white !important;
    color: blue;
    width: auto;
}