.AddFurniture > form {
    border-radius: 10px;
    border: 2px solid yellow;
    background-color: white;
    color: blue;
    width: fit-content;
    font-size: large;
    padding: 10px;
    margin: auto;
}

.AddFurniture, input, textarea {
    margin: 10px;
    width: 90%;;
    
}

.AddFurniture, label {
    text-align: left;
}